[2018-01-05 08:29] cdgco opened #4 "Additional FTP Support"
Add additional FTP support to 'add' and 'edit pages for domains. Allow addition of unlimited FTP accounts.

[2018-01-05 08:31] cdgco opened #5 "Custom SSL Support"
Support for upload and editing of non Let's Encrypt SSL certificates. Certificates must be uploaded from VWI frontend to VestaCP backend, added to temp file, then directory linked to domain.

Frontend framework currently in place.

[2018-01-05 08:32] cdgco opened #6 "Edit Backup Exclusions"
Support for editing of backup exclusions. Data must be uploaded from frontend to backend, added to temp file, then directory linked to user.

Frontend framework in place.

[2018-01-05 08:33] cdgco opened #7 "Send emails from VestaCP backend"
Send notification emails from VestaCP backend for addition of database or mail account credentials.

[2018-01-05 08:34] cdgco opened #8 "Delete buttons on edit pages"
Allow deletion of resources from edit pages.

[2018-01-05 08:36] cdgco opened #9 "Process Animations & Notifications"
Unify process system across different sections, activate loading animation while request is processed, invoke return codes for all processes and read & display errors in notifications after processes complete.

[2018-01-05 08:38] cdgco opened #10 "Backup Download System"
Create better UI for downloading backups. Current system invokes password request using javascript alert for notification. Would like to switch to sweetalert or similar.

[2018-01-05 08:39] cdgco opened #11 "Dark Theme"
Try to add dark theme in current theme switcher. Might have to alter underlying html code or create separate branch to achieve.

[2018-01-05 08:40] cdgco opened #12 "Theme Switcher"
Support for session or user based theme switching. Session based theme switching currently in progress, almost ready for release.

[2018-01-05 08:42] cdgco opened #13 "Softaculous Support"
Support for Softaculous system introduced in VestaCP 0.9.8-18. Requires addition in config file, install system and all menu lists for frontend. Requires edit of return links in backend.

[2018-01-05 10:43] cdgco opened #14 "Disable SSL / Let's Encrypt"
SSL does not get disabled when unchecked on edit domain page.

[2018-01-06 21:03] cdgco opened #15 "Localization"
Translate Vesta Web Interface based on settings specified in user profile.

[2018-01-07 06:19] andresrobinson commented on #15
Hi, I can translate to Spanish and Portuguese if you want.

[2018-01-07 21:01] andresrobinson opened #20 "How to update"
Hi, there is any guide about how to update the version of the VWI?

[2018-01-07 21:08] cdgco commented on #15
I would love the help if you are willing. I am continuously adding terms to be translated, but have added your current translations.

[2018-01-07 22:15] andresrobinson commented on #15
Sure, glad to help

[2018-01-07 23:00] cdgco commented on #20
If you installed using method 1, you can simply run `git pull` while in the web directory. If you used a different method though, you must delete and reinstall.

There haven't been any updates in a while, but to update the backend run `bash <(curl -s https://cdgco.github.io/backend)`.

[2018-01-12 15:55] #20 closed

[2018-01-18 18:54] #8 closed

[2018-01-18 18:54] #12 closed

[2018-01-18 18:54] #13 closed

[2018-01-18 19:01] cdgco commented on #9
Process animations complete.

[2018-01-19 06:30] cdgco commented on #14
Bug Fix issued, needs to be tested.

[2018-01-22 11:24] ReNNoN opened #23 "Login or Index doesn't work"
"Loading dashboard..."

Workly perfect for a 2 hours, but incomprehensibly now don't load index.php, load a serveral time with the message "Loading dashboard" in green color, and then emit a "500 - Internal Server Error".

Any idea?

thanks u

[2018-01-22 21:58] cdgco commented on #23
Could you edit the `.htaccess` file and change the line `php_flag display_errors Off` to `php_flag display_errors On` then reload the page and tell me what the error is?

-Carter

[2018-01-23 00:02] ReNNoN commented on #23
Notice: Undefined index: username in /home/admin/web/mydomain.com/public_html/vwi/includes/config.php on line 96

Notice: Undefined index: loggedin in /home/admin/web/mydomain.com/public_html/vwi/includes/config.php on line 97

I tried put a vwi installation on public_html folder, same error in the two places, vesta/web and public_html.

thx u!

[2018-01-23 05:01] cdgco commented on #23
Are those errors listed on the login page or on the page once you attempt to login?

The errors you listed are known warnings and do not cause actual problems or 500 errors, so there must be a problem somewhere else.

[2018-01-24 15:39] ReNNoN commented on #23
Honestly, I've been trying to make it work for days, but I do not succeed.

It's strange, because VWI worked perfectly until 2 days ago, but for some reason it did not work anymore.

He tried everything, uninstall, install, many times.

All the dependencies are installed and functioning well.

Ubuntu Server 16.04 updated.

Sometimes it loads the login.php but not the index.php (it is frozen in "Lo

[2018-01-24 19:08] cdgco commented on #23
VWI should be compatible with IONCube and I have not seen this problem before. It may be beneficial for you to tell me the URL of your installation or allow me access to view your installation. If you would like, feel free to email me at carter@cdgtech.one. Also, you may want to try a fresh install in a new directory or domain, and make sure you are using the installation command or newest release

[2018-01-29 16:04] ReNNoN opened #24 "How to... translate?"
Hi !!!!

I tried to translate, changing the "msgstr" in the messages.po file of es_US, but the changes are not visible.
Any other way to translate without having to modify the "ECHO" of the .php files?

Thanks you!

[2018-01-29 20:47] cdgco commented on #24
You don't need to edit any of the "echo" strings in the php files. Doing so will break the translation system. The problem is that translations are cached on the web server to save time. After you edit translations you must restart apache (`sudo service apache2 restart`) then the translations will show up.

[2018-01-29 20:48] #23 closed

[2018-01-30 04:55] cdgco commented on #9
Notification system complete.

[2018-01-30 04:55] #9 closed

[2018-01-30 05:03] cdgco commented on #14
Bug Fixed

[2018-01-30 05:03] #14 closed

[2018-01-30 05:03] #24 closed

[2018-01-30 07:51] cdgco commented on #10
Complete

[2018-01-30 07:51] #10 closed

[2018-02-02 11:35] ReNNoN opened #25 "Subdomains isn't working"
Hi,

when you add a new web domain in vwi or subdomain (like subdomain.maindomain.com) the external ip doesn't appear, only local ip and DNS domains/subdomains its configure automatically with a local ip, finally subdomain not working.

If you add subdomain in the vesta normal control panel, working perfectly.

Thanks u and seriouly, vwi is amazing, great work!

(I have installed the last version

[2018-02-02 19:56] cdgco commented on #25
I'm not sure what exactly your problem is. It sounds like it may be a problem with your IP address setup for Vesta or a problem with nameservers but I could be wrong, if so it would be a problem with Vesta and not VWI. I don't know what you mean by subdomain don't work  but DNS subdomain do. Could you give more detail or explanation so I can attempt to diagnose or recreate the problem? Thanks!

[2018-02-03 00:42] andresrobinson opened #26 "CloudFlare integration"
Hi, It would be really nice to see an integration with Cloudflare for DNS management. It could be really useful and help reduce server load. cPanel already has a Plugin like that.

[2018-02-03 02:34] cdgco commented on #26
I agree that this would be a great feature, but I'm not sure how capable I am at achieving this. I'll look into it, and while it is possible to create, it seems like this is more of a feature that VestaCP needs to add to their backend rather than myself.

I'd like to make this but this is not a core focus of the project and would likely take up too much time.

[2018-02-03 03:55] cdgco commented on #26
I've been looking into the possibility, and it seems like it will take some time, but it will be easier to accomplish than I originally thought. Nevertheless, this feature will take a while to implement and will be challenging to develop if I do so. Along with this, it should be easy to apply the system I have in mind to a standalone plugin for VestaCP in the future.

[2018-02-06 05:33] cdgco commented on #26
Basic support complete. To be released in v0.5.0-Beta.

[2018-02-06 05:33] #26 closed

[2018-02-08 02:03] cdgco opened #27 "Admin Panel Part 1"
Support for Admin account to manage and control users, resources, server, etc.

[2018-02-08 02:07] #25 closed

[2018-02-08 06:56] cdgco commented on #27
## Admin Panel To Do List

List Packages:
- v-list-user-packages json

- Edit Packages:
    * v-list-user-package PACKAGE json

- Create Package (BACKEND / TEMP DIR):
    * v-add-user-package PKG_DIR PACKAGE

- Delete Package:
    * v-delete-user-package PACKAGE

- Update Package:
    * v-change-user-package PACKAGE

List IP:
- v-list-sys-ip json

- Edit Packages:
    * v-list-sys-ip IP json

 -

[2018-02-08 06:56] cdgco opened #28 "View Domain Access / Error Log"
Allow users to view domain logs for access and errors.

[2018-02-10 22:21] tnttaolin2 opened #29 "Mobile phone support"
Hi! I love the cpanel that you guys made for vesta but it would be cool if you guys add more support to mobile phone screen size. Thanks!

[2018-02-11 08:38] cdgco commented on #29
Thank you for your interest!

One of the main focuses of VWI is to create a great user experience on all devices, there are some problems and bugs still that will hopefully be fixed in the next release to create a better mobile experience, such as the login page for tablets or smaller screens, and the home page list functions, but there is currently quite a large amount of support for mobile devic

[2018-02-11 22:01] tnttaolin2 commented on #29
Manage domains page & information about the user. I think these are the most important.

[2018-02-18 22:40] cdgco opened #30 "Multi-Server Support"

[2018-02-20 03:35] cdgco commented on #27
## Admin Panel To Do List (Part 2)

Server:
- v-list-sys-services json

- Configure:
    *  List / Change Hostname
    *  List / Change Timezone
    *  List / Change Default Language
    *  List Web Server Names
    *  List DNS Server Name
    *  (No DNS Cluster for now)
    *  List Mail Server Names
    *  List / Change Webmail URL
    *  List MySQL Enabled
    *  List / Change phpMyAdmin URL

[2018-02-20 10:33] cdgco commented on #29
A new system has been put in place to responsively format data lists and will be rolled out for major pages soon. All pages will have this system by v0.5.0-Beta and stylistic bugs will be fixed following responsive updates.

[2018-04-04 16:34] HerrBubbla opened #31 "DNS only"
Hello,
Great work so far. Is it possible to hide all except DNS management for users?
I would like to disable more in ENABLE OR DISABLE SECTIONS from the file config.php

[2018-04-05 03:16] cdgco commented on #31
Thank you for the idea, I will work on adding options to disable profile, apps, backups and cron management in either the next release or v0.5.

[2018-04-23 18:18] aidan-casey opened #32 "Cannot install on Ubuntu 16.04?"

[2018-04-23 18:37] aidan-casey opened #33 "Deleting domain"
When deleting a domain "Successfully created!" is displayed.

[2018-04-26 04:41] cdgco commented on #33
I am not seeing this issue in the code, or am not exactly sure of how to recreate it. Could you please tell me from which page you are attempting to delete the domain?

[2018-04-26 04:45] cdgco commented on #32
The majority of VWI development is done on Ubuntu 16.04 and the VWI demo is hosted on an Ubuntu 16.04 server so there should be no problem with installing on 16.04.

Did you follow the step-by-step directions on https://cdgtech.one/vwi/docs.php#automatic ?

Could you please add a description of the problem or a specific error code to help further solve this problem?

[2018-04-28 21:35] cdgco commented on #32
Closing as there has been no response. If you are still experiencing problems, reopen the issue or contact support@cdgtech.one.

[2018-04-28 21:35] #32 closed

[2018-04-28 21:53] cdgco commented on #33
Closing as there has been no response and issue seems to be a mistake or fixed bug from previous versions. If you are still experiencing problems, reopen the issue or contact support@cdgtech.one.

[2018-04-28 21:53] #33 closed

[2018-05-29 20:42] TristianK3604 opened #35 "Custom Softaculous UI"
I think there should be a custom UI for Softaculous and app installations too, so you don't have to link directly to the panel and Softaculous. You could use the Softaculous API for this and possibly let users add custom applications with certain parameters. Again, I could also probably help with this :smile:

[2018-05-30 03:36] cdgco opened #36 "Plugin System"
Plugin System Idea to streamline new 1st party features and enable development of 3rd party plugins.

Example File Structure

Plugins
├── example-plugin
|   ├── mainfest.xml
|   └── index.php

XML File Idea:

[code]

Config file idea:

[code]

Code to add items to menus:

[code]

[2018-05-30 04:00] cdgco commented on #35
I am unfamiliar with the Softaculous API but will look into it. I am pretty dissatisfied with the softaculous integration with VestaCP as the process of integrating it with VWI is honestly kind of sketchy (it does require more than just linking to the softaculous page) and there are very few apps that you can install without facing a payment wall. I am unsure with the ability to add custom applica

[2018-06-01 04:17] cdgco commented on #5
Remote SSH over PHP to execute transfer?

[2018-06-01 04:27] cdgco commented on #4
Dynamic bootstrap table form: https://bootsnipp.com/snippets/AXVrV

[2018-06-01 04:34] cdgco commented on #4
v-add-web-domain-ftp USER DOMAIN FTP_USER FTP_PASSWORD [FTP_PATH]

[2018-06-01 17:11] TristianK3604 commented on #35
I agree. The Softaculous API is pretty frustrating, and integration too,
but with enough work and research, it can be done.

On Tue, May 29, 2018, 11:00 PM Carter Roeser <notifications@github.com>
wrote:

[2018-06-03 06:59] cdgco commented on #36
Add option in manifest for custom tags, option to open in new tab, and option to completely hide tag.

[2018-06-04 14:16] cdgco commented on #30
If you would like to help, feel free, but I would like to wait before implementing a database, and this is pretty low and my list of priorities as I'm not sure how many people would actually use it anyway.

[2018-06-18 05:34] vstock28021 opened #38 "Idea"
It would be nice in the admin panel for the admin user to be able to do things like change the name of the site, the logo, turn on/off user registrations, etc.

I use VestaCP as a HCP for my side business. I would love to see CDG VWI as something I can hand to my clients that has some type of plugin system or is semi modular so I don't have to spend a week coding hacks to add things like Net2FTP/A

[2018-06-18 18:49] cdgco commented on #38
Thank you for your insight and recommendations. I agree that the configuration should be available within the admin panel and I will add that to the todo list along with adding the option to disable signups within the config file and the soon-to-come admin config page.

As for plugins, I have recently introduced a plugin system with a file manager plugin already available.

[Plugin System](https:/

[2018-06-20 21:57] #27 closed

[2018-06-20 21:57] cdgco opened #39 "Admin Panel: Part 2"
Configure Server:
List / Change Hostname
List / Change Timezone
List / Change Default Language
List Web Server Names
List DNS Server Name
(No DNS Cluster for now)
List Mail Server Names
List / Change Webmail URL
List MySQL Enabled
List / Change phpMyAdmin URL
List MySQL Host name
Change MySQL root password
List Max MySQL DB
List Current MySQL DB
List PostgreSQL Enabled
List / Change phpPgAdmin URL

[2018-06-20 23:43] #28 closed

[2018-06-21 02:09] #11 closed

[2018-06-22 04:01] cdgco opened #40 "Function Based Menu System"
Base all menus in the includes.php file, with php functions to recall and alter menu options, makes implementation of new features and alterations to the menu much easier. Currently active on index.php.

[2018-06-22 04:05] cdgco commented on #40
In conjunction with #31.

[2018-06-22 06:05] #40 closed

[2018-06-22 06:12] cdgco opened #41 "Cache MySQL Queries"
Cache MySQL in .txt file or local database to reduce server load and prevent outages.

[2018-06-22 08:14] #31 closed

[2018-06-23 05:50] #38 closed

[2018-06-23 08:14] #36 closed

[2018-06-23 17:51] #6 closed

[2018-06-23 19:54] #5 closed

[2018-06-23 20:21] cdgco commented on #7
PHPMailer with integration to settings to change email options.

[2018-06-24 04:11] #7 closed

[2018-06-24 08:37] #41 closed

[2018-06-24 08:38] cdgco opened #42 "Secure cURL Requests"
Secure all cURL by wrapping all input in escapeshellarg

[2018-06-25 02:29] cdgco commented on #42
Nevermind, VestaCP API backend already adds escapeshellarg to external requests.

[2018-06-25 02:29] #42 closed

[2018-06-25 02:29] cdgco opened #43 "Add Support for API Keys"

[2018-06-25 02:38] cdgco opened #44 "Convert PHP FTP calls to v-make-tmp-file calls"

[2018-06-25 02:55] cdgco commented on #43
Requires #44 to be complete before starting

[2018-06-27 22:55] cdgco opened #45 "Pass Variables Through Referral System"

[2018-06-28 00:06] cdgco opened #47 "Auto Convert Data Size"

[2018-06-28 06:32] cdgco opened #48 "Change onclick links to a links on list pages"

[2018-06-28 09:34] #45 closed

[2018-06-28 10:08] #48 closed

[2018-06-28 10:09] cdgco commented on #44
Effects these files:

create/domain.php
change/domain.php
change/backupexclusion.php

[2018-06-28 10:44] #47 closed

[2018-06-29 11:07] #29 closed

[2018-07-01 09:14] cdgco opened #50 "Check VestaCP Services Enabled"
Automatically disable sections if VestaCP configuration does not include service.

Services to check:

- [x] nginx (Enable / Disable Proxy / Web Control)
- [x] Apache (Enable / Disable Web Control)
- [x] php-fpm (Enable / Disable Backend Control)
- [x] vsftpd (Disable Additional FTP / FTP Backend Integrations)
- [x] proftpd (Disable Additional FTP / FTP Backend Integrations)
- [x] named (Disable D

[2018-07-01 20:07] cdgco commented on #50
Example Code:

[code]

[2018-07-04 22:03] ocasti opened #51 "File manager interface"
Integrate file manager interface to VWI

[2018-07-04 22:32] cdgco commented on #51
Hi,

I don't have a commercial license for the VestaCP Web File Manager and I don't really plan on purchasing one since this project doesn't generate any money. Along with that, I am unsure of the license details for the commercial plugins and whether or not Vesta will allow me to deconstruct and alter them since they are not open source.

At the current time, VWI has a WebFTP Plugin you can downl

[2018-07-17 20:29] SjamonDaal commented on #51
Hi, the commercial license is needed if you use vesta commercial. Contact them for a license as developer they would back your project with love #opensource.

If not, enter a random key in the vesta config and the file manager will work like normal. (we used this method for testing purposes before buying the commercial license). :)

[2018-07-17 20:44] SjamonDaal opened #52 "move HOST DASHBOARD combobox to top."
The combobox in the HOST DASHBOARD is not working ok.

<img width="447" alt="screen shot 2018-07-17 at 22 42 35" src="https://user-images.githubusercontent.com/4325936/42844280-c2d970d0-8a12-11e8-8709-e876b5f6ec44.png">

[2018-07-20 06:22] ubuntume opened #53 "Fuzzy Instructions"
Im under the impression that this panel is suppose to be a "replacement" for the default vestacp theme. I love the mission, ui, and the extend-ability I am seeing already. I have a few questions that the documentation did not make clear enough for my understanding.

Im under the impression that I create a domain or subdomain with nothing in it. Then I run the auto install command (by preference).

[2018-07-20 07:28] cdgco commented on #53
Yes, everything you are doing seems to be correct.

The database can be any database and any user that has read and write access to the specified database (not just root), so you could use an existing database and user or create a new database and user with access to the database. I would recommend not using the root user (although it does work) for added security.

The prefix selection allows you

[2018-07-20 07:28] #53 closed

[2018-07-20 07:30] cdgco commented on #52
It seems that the recent changes I made to the main CSS have broken this, I should be able to simply revert the changes. Thank you for bringing this to my attention.

[2018-07-20 07:50] cdgco commented on #52
Closed by Commit 5eb0382c2ee2563afeb92d5ad97372c924bd6559

[2018-07-21 03:20] cdgco opened #54 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/1324=undefined#/

 Description

[2018-07-21 03:21] #54 closed

[2018-07-21 03:21] cdgco opened #55 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/

This is the comment section for the documentation.

[2018-08-13 05:47] cdgco opened #56 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/auto-upgrade

 Description

[2018-08-16 01:56] #56 closed

[2018-08-26 07:57] cdgco commented on #55
I'm sorry, the company / server I have been using to host the demo keeps going down and this has been a recurring issue. The demo is back up, but I will be working on switching hosts to ensure it stays up.

[2018-08-30 19:54] emanezr commented on #55
What are the correct permissions of the ftp directory and its files ?, I can not make the plugin work

[2018-08-30 20:27] cdgco commented on #55
@emanezr The ftp plugin has standard file permissions with the folders having 755 and files having 644. Another possible issue is that the file ownership is incorrect, you can correct this by running this command `chown -R admin:admin /home/admin/web` (replace the username or directory if necessary).
Finally, if none of these are the problem, the problem is in the installation. Please ensure that

[2018-08-31 08:13] cdgco opened #60 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/plugins

 Description

[2018-09-01 19:03] emanezr commented on #55
@cdgco I have verified all the indicated steps, permissions, name of the folder, plugins setting, without success, I always get error http 500, the example-plugin work fine.

[2018-09-01 21:10] cdgco commented on #55
@emanezr What version of VWI are you using? It's possible that I forgot to update something in one of the last updates that broke something.

[2018-09-01 21:36] emanezr commented on #55
VWI v0.5.1-Beta

FTP 0.1.1

[2018-09-01 21:55] cdgco commented on #55
@emanezr It seems that my code / versions got mismatched at some point. I have released a new version of VWI (v0.5.2) and the FTP plugin (0.1.2) that fixes this issue. Follow [these steps](https://vwi.cdgtech.one/#/auto-upgrade) to upgrade VWI, then delete the ftp folder and upload the new version from [here](https://github.com/cdgco/vwi-ftp/releases/tag/v0.1.2).

[2018-09-01 21:55] cdgco opened #61 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/auto-upgrade

 Description

[2018-09-04 17:32] cdgco opened #62 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/?12

 Description

[2018-09-04 17:33] cdgco opened #63 "Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/?23149

 Description

[2018-09-05 02:07] #62 closed

[2018-09-05 02:07] #63 closed

[2018-09-05 02:07] #61 closed

[2018-09-05 02:08] #60 closed

[2018-09-09 08:12] Plata-0-Plomo commented on #55
Hello!

Thanks for the convenient interface for vesta!

I have installed vesta fwi 0.5.3 beta and ftp plugin 0.1.2, but plug-in does not work. When i open the page, i getting HTTP ERROR 500 .

[2018-09-09 08:48] Plata-0-Plomo opened #65 "FtpPlugin - HTTP ERROR 500"
Hello.

I have installed vesta fwi 0.5.3 beta and ftp plugin 0.1.2, but plug-in does not work. When i open the page, i getting HTTP ERROR 500 .

I did it, the error remained the same, unchanged

Sorry, google translate ;)

[2018-09-09 09:39] Plata-0-Plomo commented on #65
I got next error (sorry, changes in htaccess was not saved):
Fatal error: Cannot redeclare vwicrypt() (previously declared in /home/hosting/web/panel.*******.**/public_html/includes/includes.php:298) in /home/hosting/web/panel.*******.**/public_html/includes/includes.php on line 298

[2018-09-09 09:44] Plata-0-Plomo commented on #65
I noticed that when I turned on the error display, the list itself did not display the lists of domains, users. After turning off the error display, everything again worked.

[2018-09-09 10:05] Plata-0-Plomo opened #66 "Error on Mail Account Creating"
Hello!

When I created the email account, I received the following error:
`Parse error: syntax error, unexpected ';' in /home/hosting/web/panel.plomo.gq/public_html/create/mailaccount.php on line 125`

I solved this in the following way:
/create/mailaccount.php
on 125 line
    addslashes(
replace to
    addslashes();

But I'm not sure if this is the right and safe solution

[2018-09-09 10:15] cdgco commented on #65
@Plata-0-Plomo The list going away is expected as the debugging setting causes errors in rendering because it places messages in the middle of the code.

I believe I have found the cause of the error, which I have not experienced because you are using PHP 5.5 and I use PHP 7.0-7.2 for testing. Please delete your ftp plugin folder and upload the folder from the zip file I have linked below, then se

[2018-09-09 10:54] cdgco commented on #66
It looks like I accidentally left that there, that `addslashs(` line can actually be removed entirely. I have removed it from the latest release.

[2018-09-09 10:54] #66 closed

[2018-09-09 16:41] Plata-0-Plomo commented on #65
Unfortunately there are no visible changes.

Fatal error: Cannot redeclare vwicrypt() (previously declared in /home/hosting/web/panel.plomo.gq/public_html/includes/includes.php:298) in /home/hosting/web/panel.plomo.gq/public_html/includes/includes.php on line 298

[2018-09-09 18:37] cdgco commented on #65
@Plata-0-Plomo Could you visit http://panel.plomo.gq/plugins/ftp/config.php with debugging enabled and see if you get the same error?

[2018-09-09 19:53] Plata-0-Plomo commented on #65
Fatal error: Cannot redeclare vwicrypt() (previously declared in /home/hosting/web/panel.plomo.gq/public_html/includes/includes.php:298) in /home/hosting/web/panel.plomo.gq/public_html/includes/includes.php on line 298

((

[2018-09-09 20:48] cdgco commented on #65
I'm sorry, but as I cannot replicate the issue and don't have access to your server, I am unable to diagnose or solve this problem. If you are comfortable with allowing me FTP access or doing further testing, feel free to email me at carter@cdgtech.one. Otherwise, I can only recommend attempting a clean installation, or possibly upgrading to a newer version of PHP.

[2018-09-12 09:40] Plata-0-Plomo commented on #65
So shorter:

[code]

[2018-09-12 10:02] Plata-0-Plomo opened #67 "VWI-Billing, sql database"
Hello!

I installed the billing plugin, but unfortunately it does not work.
Returns errors related to queries in the database. I looked at the code and saw that there are queries to the following tables:
billing-config
billing-plans

I do not have these tables in the database. In the plugin, I also found no place to create tables. Where can they be taken?

Why there was such error, it can because

[2018-09-12 14:30] cdgco commented on #67
This plugin is in development, and is marked as WIP - Work In Progress as it is not ready to be installed yet.

[2018-09-12 14:30] #67 closed

[2018-09-12 14:33] cdgco commented on #65
The problem is not with a function being declared more than once, just with a script being called more than once, which I do not understand, because includes.php is not called at all in ftp.php and called only once in config.php but they are both giving errors.

[2018-09-12 14:36] cdgco commented on #65
The zip file I sent you changed require to require_once, which would have fixed the error if that was the case, but since it didnt, I'm not sure the problem.

[2018-09-12 22:05] cdgco commented on #67
For future reference, please open plugin related issues in their designated repositories: [cdgco/vwi-billing](https://github.com/cdgco/vwi-billing).

[2018-10-02 21:47] Efkovole commented on #65
I have same problem :(

 Fatal error: Cannot redeclare hotKeys() (previously declared in /home/admin/web/mydomain/public_html/includes/includes.php:462) in /home/admin/web/mydomain/public_html/includes/includes.php on line 462

[2018-10-02 21:58] Efkovole commented on #55
I have same problem :(

Fatal error: Cannot redeclare hotKeys() (previously declared in /home/admin/web/mydomain/public_html/includes/includes.php:462) in /home/admin/web/mydomain/public_html/includes/includes.php on line 462

[2018-10-10 00:23] skitzo2000 opened #69 "500 Errors on Logo upload"
### OS / Environment

[code]

### Summary of the problem
Console completely crashes and returns 500 error.  Afterwards entire VWI will not load

### Steps to reproduce the behavior
Under settings upload only one of the three custom logo's and hit the save button.

For anyone who stumbles on this in the meantime, you need to upload all three logos to avoid the error

### Source code / logs / error

[2018-10-10 16:27] Efkovole commented on #15
I have translated the files / locale / cz_CZ /
And if he switches to Czech, nothing will happen.

[2018-10-18 12:26] skitzo2000 opened #70 "500 Errors when adding new email account"
### OS / Environment

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic
Linux my.domain.com 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Summary of the problem

Parse error: syntax error, unexpected ';', expecting ',' or ')' in /home/admin/web/isp.zaxwerks.com/public_html/create/

[2018-10-21 16:51] FulltronService opened #71 "Problem with install"
When trying to install the script, I always get "Connection failure, check the configuration file" but I see it and it's all good. Help me, I had to uninstall it.

[2018-10-21 18:56] cdgco commented on #71
Hello, I am sorry for the issue. Is your domain pop.vps.co.ve?

[2018-10-21 19:04] cdgco commented on #15
@Efkovole if you are working on a local copy of Vesta Web Interface, you must restart apache / nginx / php-fpm in order for changes in localization to take place.

[2018-10-21 20:40] FulltronService commented on #71
Yes, It is the domain domain of one of the backup servers.

[2018-10-21 22:46] cdgco commented on #71
Could you please attempt to reinstall Vesta Web Interface, then edit your
.htaccess file and change the PHP Flags option to "On" and I will attempt
to diagnose the problem.

On Oct 21, 2018 at 2:31 PM, <FulltronService <notifications@github.com>>
wrote:

Yes, It is the domain domain of one of the backup servers.

—
You are receiving this because you commented.
Reply to this email directly, view it

[2018-10-22 16:17] cdgco commented on #71
Try to log in and see if there are any new error messages.

On Oct 21, 2018 at 4:49 PM, <FulltronService <notifications@github.com>>
wrote:

Notice: Undefined index: username in /home/admin/web/
example.com/public_html/includes/includes.php on line 67

Notice: Undefined index: loggedin in /home/admin/web/
example.com/public_html/includes/includes.php on line 68

Warning: array_values() expects par

[2018-10-22 18:33] FulltronService commented on #71
I already did it and I see exactly the same error, check by setting the value of that line to 1 but it gives me exactly the same error.

[2018-10-22 20:19] cdgco commented on #71
All of those messages are expected and go away once you login, which makes
me believe there is another error. Those errors do not need to be changed
or fixed, they are only informational.

On Oct 22, 2018 at 12:43 PM, <FulltronService <notifications@github.com>>
wrote:

I already did it and I see exactly the same error, check by setting the
value of that line to 1 but it gives me exactly the same

[2018-10-22 20:29] FulltronService commented on #71
Correct, I also say the same but the strange thing is that when I start session it tells me that the data is incorrect and that I am very sure of the data I put as I use it every day.

[2018-10-23 08:16] cdgco commented on #71
Since it seems that PHP is unable to connect to your specified
MySQL database, I would start by checking that your port is correct and
there are no spelling errors, as well as ensuring that your MySQL port is
not blocked by either CentOS or VestaCP.
Alternatively, you can enable local configuration mode by changing the
value $configstyle to "2" in the includes/includes.php file and uploading a
man

[2018-10-23 12:55] FulltronService commented on #71
Hello friend, with that additional configuration remains exactly the same even with the config.json installed in the folder ./tmp

Check the port that is 3306 and it's open, I do not understand why it's still not loading.

[2018-10-23 13:36] skitzo2000 commented on #69
I wasn't able to reproduce the issue on my current install.  I'm not 100% certain why, but it may be because their are other logo's already populating the other fields.   Its a live install at this point so I don't want to fudge with it too much.  But I have another install coming soon I can try to test on.

Certainly something is off as I'm getting a ton of warnings and notices on that page.

cur

[2018-10-23 14:39] cdgco commented on #71
I'm sorry, I misunderstood the problem. It seems you are able to connect to
MySQL but cannot connect to the VestaCP API. See if you can connect to
YOUR-DOMAIN.com:8083/api . You should get a blank white page. If that works
and there is still no explanation, use SSH on your VestaCP server and the
'v-generate-api-key' command, switch your authentication method to 'api'
and see if you can connect.

O

[2018-10-23 14:50] FulltronService commented on #71
But in what part do I place that API? What line exactly?

[2018-10-23 16:11] cdgco commented on #71
Just check that it is accessible from your SSH terminal and/or browser. The
credentials will go in either you MySQL config or config.json for the
vesta-method value.

On Oct 23, 2018 at 8:21 AM, <FulltronService <notifications@github.com>>
wrote:

But in what part do I place that API? What line exactly?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHu

[2018-10-23 18:07] FulltronService commented on #71
The problem still persists, changing Vesta method to API. Enter the API in the empty field and stay the same.

[2018-10-23 18:07] FulltronService commented on #71
The problem still persists, changing Vesta method to API. Enter the API in the empty field and stay the same.

[2018-10-23 18:08] FulltronService commented on #71
The problem still persists, changing Vesta method to API. Enter the API in the empty field and stay the same.

[2018-10-25 09:53] CLSII opened #72 "Why this redirection ?"
Why redirect to this page and not a local page ?

https://github.com/cdgco/VestaWebInterface/blob/f7d8698e1b2d3753eb9d0a7ececc02a8f535d904/install/install.php#L169

Can you give us the source of this PHP file ?

[2018-10-25 16:40] cdgco commented on #72
The page you are redirected to is the page that handles sending welcome emails / adding you to the mailing list about security issues and updates. Because this file contains private API keys it is stored on its own server and not published on GitHub.

In addition to this, the page is also connected to the analytics platform which tracks items such as the location of installations, which features a

[2018-10-28 21:10] Holbroom commented on #71
Hi, I am having the same problem, I have been trying to get this working all day, I have done all the checks and still I get Failed to connect to server.Please check config, are there any logs i can check to see where the connection is failing?

[2018-10-28 22:20] cdgco commented on #71
@Holbroom Are you able to successfully login once changing that line? The purpose of that line is to make a basic call to the Vesta server and produce an error if it cannot, whereas this edit would prevent the call from failing if it can't connect.

[2018-10-28 22:36] cdgco commented on #71
One possible log you could check, by the way, is the Vesta auth log (/usr/local/vesta/log/auth.log) it should show a new event for every page load and show any authentication / credential problems.

[2018-10-28 22:40] Holbroom commented on #71
Hi,
Unfortunately not, the edit made no difference,but if you visit the page and view the source you'll see multiple errors, not sure what is wrong to be honest.
https://control.holbrookhosting.co.uk

I've done manual install 3 times, once on a subdomain and twice in a directory of the main domain, all times with the same issue, oddly, when i run the auto install i get:

Error: VWI can only be ins

[2018-10-28 23:33] cdgco commented on #71
@Holbroom Try running each of these commands then paste the output:
* `source /etc/os-release | echo $NAME`
* `lsb_release -si`
* `source /etc/lsb-release | echo $DISTRIB_ID`

These are the commands the installer uses to determine your OS but there must be something misspelled or missing in the installer.

[2018-10-28 23:39] cdgco commented on #71
That is odd though, especially considering almost half of my users use CentOS and I've never heard of this issue before.

[2018-10-29 00:05] cdgco commented on #71
Also, try creating a file called `test.php` with the following code in the /home/user/web/control.holbrookhosting.co.uk/public_html/ folder so I can see the raw output of the curl command and server connection.

[code]

[2018-10-29 02:05] FulltronService commented on #71
Hello, I get the same thing as him, exactly the same. And when I create and access the test.php I get the following.

Notice: Undefined index: username in /home/admin/web/pop.vps.co.ve/public_html/includes/includes.php on line 67

Notice: Undefined index: loggedin in /home/admin/web/pop.vps.co.ve/public_html/includes/includes.php on line 68

[2018-10-29 02:31] cdgco commented on #71
Okay, that looks exactly as it should, try this now, and make sure there is no sensitive content / don't post it. Just make sure that it is actually outputting all of the correct data, and is not missing anything.

[code]

[2018-10-29 02:36] FulltronService commented on #71
TIMEZONE America/La_Paz
SITE_NAME Backup Server
THEME orange
LANGUAGE es_US.utf8
DEFAULT_TO_ADMIN true
VESTA_HOST_ADDRESS https://pop.vps.co.ve
VESTA_SSL_ENABLED true
VESTA_PORT 8083
VESTA_METHOD credentials
VESTA_API_KEY
VESTA_ADMIN_UNAME admin
VESTA_ADMIN_PW PassWord
KEY1 VmeE4TYY
KEY2 kii7f7kt
WARNINGS_ENABLED admin
ICON admin-logo.png
LOGO admin-text.png
FAVICON favicon.ico
WEB_ENABLED true
DN

[2018-10-29 02:38] cdgco commented on #71
@FulltronService I believe the problem is with your VESTA_HOST_ADDRESS, it should be just the hostname or ip address, whereas you put a full url. Try replacing `https://pop.vps.co.ve` with `pop.vps.co.ve` in your MySQL database.

[2018-10-29 02:46] FulltronService commented on #71
Ready, problem solved :)

Although showing errors, I still see some warnings, is it normal?

[2018-10-29 02:49] cdgco commented on #71
@FulltronService Yes, those are just notices checking to see if you are logged in and are expected. You can turn off `php_flag display_errors` in .htaccess and those will go away.

I will also add some code to the installer to prevent this error from happening in the future.

[2018-10-29 02:50] FulltronService commented on #71
Excellent friend, I am very grateful to you for the help you gave me. I would donate if it was not from Venezuela :(

Although we are hands.

[2018-10-29 02:58] cdgco commented on #71
@FulltronService I'm glad I could help :)

[2018-10-29 03:01] cdgco commented on #72
If you have any further questions or issues about this topic, please reopen this issue.

[2018-10-29 03:01] #72 closed

[2018-10-29 04:12] FulltronService commented on #71
I have other problem. When I want to configure a web I get:

Error Updating Web Domain
(E: 0.0.0.0.0.0.4.OK.0)

Please try again or contact support.

It is normal? You are not saving the web configuration.

[2018-10-29 06:09] cdgco commented on #71
Is this when you are editing or creating a domain?

[2018-10-29 06:30] Holbroom commented on #71
Good morning,
I have done done the same as above but it's still not working....

[root@holbrookhosting includes]# source /etc/os-release | echo $NAME
-bash: /etc/os-release: No such file or directory

[root@holbrookhosting includes]# lsb_release -si
CentOS

[root@holbrookhosting includes]# source /etc/lsb-release | echo $DISTRIB_ID
-Blank Output-

https://control.holbrookhosting.co.uk/test.php

an

[2018-10-29 07:43] cdgco commented on #71
Also, it's odd that `/etc/os-release` is missing, because I believe that is supposed to work on a Linux releases, but I will try to fix the installer, and I will add `/etc/centos-release` as a backup check.

[2018-10-29 08:44] Holbroom commented on #71
I've changed VESTA_HOST_ADDRESS from the IP Address to holbrookhosting.co.uk and it's still not working, this is very frustrating, I would love to get this working.

[2018-10-29 09:10] cdgco commented on #71
@Holbroom could you paste the output of the first bit of test.php code I posted?

[2018-10-29 10:38] cdgco commented on #71
Try changing it to this code and seeing if it changes.

[code]

[2018-10-29 10:50] Holbroom commented on #71
I've updated the test.php file, has anything changed?

[2018-10-29 12:44] FulltronService commented on #71
Exactly, I always get that error

[2018-10-29 12:48] FulltronService commented on #71
Why do not you try to reinstall that from 0 and then purge the database you're using for the panel?

Maybe it's some general configuration issue. Then, make sure that the HOST is as example.com and not as https://example.com/

[2018-10-29 13:15] Holbroom commented on #71
I've tried to install 4 times now already, each time i get the same errors messages, I have tried with IP and example.com domain, both give same error, my Cenots is 64bit, could that have any impact? the Auto install script doesn't work for me also, it says i am not using Centos when I am.

[2018-10-29 13:20] FulltronService commented on #71
It's quite weird that's the truth because I also use 64bit Cents and it did not give me any problem in the installation except for the configuration file. Did you install the Development Tools?

[2018-10-29 13:28] FulltronService commented on #71
If the problem is with your VestaCP Panel, there will be the reason why (If it is due to waiting time limit, if it is because there is a wrong function or if it is because the number of simultaneous requests exceeds the limit)

[2018-10-29 13:29] FulltronService commented on #71
@cdgco Do not you think the same?

[2018-10-29 13:55] Holbroom commented on #71
Can you give me some suggestions to fix the issue?

[2018-10-29 13:57] FulltronService commented on #71
I'm waiting to see what it says @cdgco

[2018-10-29 13:59] Holbroom commented on #71
Cheers, I really appreciate all the help, I'd love to get this working.

[2018-10-29 16:12] FulltronService commented on #71
@cdgco I just found another problem and that is a problem. When I add a mail account I get (Error 500)

if I start to see the error log, I get this: `mod_fcgid: stderr: PHP Parse error:  syntax error, unexpected ';', expecting ',' or ')' in /home/admin/web/panel.fulltron.net/public_html/create/mailaccount.php on line 125, referer: https://panel.fulltron.net/add/mailaccount.php?domain=tuservinet.co

[2018-10-29 16:22] cdgco commented on #71
@Holbroom Your OS version has nothing to do with the errors, the only problem with the installation was an error in accurately detecting your OS.

@FulltronService I need to know exactly which page this was because each page has a different error code meaning different things. Does the page end in /edit/domain.php or /add/domain.php?

I have school right now, so it will be a while before I can off

[2018-10-29 16:30] FulltronService commented on #71
Is this `https://panel.fulltron.net/create/mailaccount.php`. And okay, I'll be waiting.

[2018-10-29 17:04] cdgco commented on #71
That error was fixed in commit 004a24f and will be released in v0.5.4

[2018-10-29 18:07] cdgco commented on #71
@FulltronService the error you received when updating the domain was an error code 4 when updating your domain's SSL certificate. Error 4 means "Object already exists". Presumably you already had an ssl certificate and uploaded the same one. For more info, view your Vesta error log in /usr/local/vesta/log/error.log

[2018-10-29 18:16] cdgco commented on #71
@Holbroom, while adding that line did fix the redirection error, cURL is still unable to either connect to your VestaCP API, or authenticate. I will try to write some new test code later to hopefully determine the issue.

[2018-10-29 18:18] Holbroom commented on #71
Thank you, I really appreciate the help.

[2018-10-29 19:24] Holbroom commented on #71
I don't understand how I can use VestaCP API in PHP for creating accounts etc, but this is still failing, it's connecting to the mysql database but doesn't appear to be talking to VestaCP API

[2018-10-29 20:07] cdgco commented on #71
@Holbroom, I don't understand either, all the data looks correct, but the test.php should be outputting data, whereas it is blank but also not giving and connection errors. It could be a problem with your php or cURL, but I am not sure.

[2018-10-29 20:13] Holbroom commented on #71
My cURL version is very outdated.

Version: 7.19.7 Nov 4 2009

I'm going to update this and see if that helps, clutching at straws now.

[2018-10-29 21:33] Holbroom commented on #71
I have updated everything but still hasn't made any difference.

Do you know why I get the following message why I try to do an Automatic Install?
Error: VWI can only be installed on Debian, Ubuntu, CentOS, or RHEL. Exiting ...\n

Also, is there anything more we can try, maybe a script to test the cURL connection to the API?
Proving PHPInfo if there is anything to check? https://control.holbrookho

[2018-10-30 16:45] cdgco commented on #71
@Holbroom, As I said, the only problem with the automatic installer is that the section which I built to detect your OS was working wrong and I need to add 1 more line.

I plan on writing a script to debug the curl connection, but I have had very little free time lately.

I will take a look at your PHPInfo, but I doubt it will give me much more insight than I currently have.

You are running the s

[2018-10-30 16:51] cdgco commented on #71
@Holbroom if you really want to use the automated installer, here is a script to force it:
[code]

[2018-10-30 18:40] Holbroom commented on #71
Thank you, i'm going to wipe the site tonight and give the auto installer ago, to see if it makes any difference, I appreciate your time and effort to help get this working. cheers.

[2018-11-01 21:30] #70 closed

[2018-11-11 18:13] cantalupo555 opened #73 "How Install?"
How to install?

[2018-12-16 20:14] ubuntume commented on #55
This has got to be one of the most vital components to the vesta control panel. Everything is right where it needs to be, there is fluid motion and truly a great experience. Love the registration option. Working flawless for me as of the fresh install.

[2018-12-16 20:18] ubuntume commented on #55
Hate to keep commenting but the more I explore the control panel the more I fall in love with it. Has anyone taken this directly to VestaCp. You guys truly thought this thing through! Kudos and congrats - I will be with this project long term.

[2018-12-17 02:02] cdgco commented on #55
@ubuntume Thank you, I really appreciate the support. A few of the members of the VestaCP team have commented on the project and do seem to follow and support it, but I do not see any partnership or collaboration in the future.

[2018-12-17 02:05] ubuntume commented on #55
"Sorry" to hear about that. It should truly be the default to vesta. Have you thought of a fork? Personallyit truly brings the entire vesta system up to battle with plesk.

[2018-12-17 02:17] cdgco commented on #55
@ubuntume I have not thought about a fork before. It would be possible and I may do that in the future alongside the current system, but at the moment, the biggest priority is finishing the admin panel and plugin system.

[2018-12-17 21:15] miguelsotobaez opened #74 "System color Palette in Configuration"
### OS / Environment

[code]

### Summary of the problem
This is not a problem, just an enhancement, it would be a good idea to define the color template with a palette in system configuration. This would be good because we can change the color just like our branding company.

### Steps to reproduce the behavior
THere is no step right now to do this. Only in color selector like Blue, Purple, etc.

[2018-12-17 21:20] miguelsotobaez commented on #55
I'm testing this now and it's a very good interface for vestaCP. Thank You.

[2018-12-18 00:17] cdgco commented on #74
Good idea, I will try to add this to the next update.

As of now, the best way to achieve this would be to edit the [/css/colors/blue.css](https://github.com/cdgco/VestaWebInterface/blob/master/css/colors/blue.css) file and change the variable values in the `/* Theme Colors */` section

This file is the easiest to change and has a preset variable for your primary color (`--main-theme-color: #2cabe

[2018-12-23 22:53] saadzer opened #77 "504 Gateway Timeout after auto install"
### OS / Environment
[code]

### Summary of the problem
I've followed the 4 steps of auto-installation as root user on the server as described in the docs.
everything seems to work correctly untill the end of step 4.
Then when i visit the login.php , the page keeps loading for a while and throws the error 504 gateway timeout.

### Source code / logs / error code
on the server error logs it keeps r

[2018-12-25 00:50] cdgco commented on #74
Feature Completed, to be published in v0.5.4.

[2018-12-25 00:50] #74 closed

[2018-12-25 02:19] cdgco commented on #72
Redirection removed in commit 0ee5d18.

[2018-12-26 01:42] #39 closed

[2018-12-26 22:04] #71 closed

[2018-12-26 23:27] #65 closed, assigned to nobody

[2018-12-30 04:34] #50 closed

[2019-01-17 18:47] cvexer2 opened #80 "Additional FTP greyed out?"
the additional ftp option for web is greyed out cant click on the check box ,

but if I go back to the original old panel I can create with no issue.

![ftp-vestacp-greyed-out](https://user-images.githubusercontent.com/45900225/51340952-421dad80-1a5e-11e9-8475-4c5ce368dfb5.png)
thanks for any help that you can give on this issue.

[2019-01-20 01:55] Caetano1149621111 opened #81 "Failed to connect to server. Please check config."
v0.5.4-Beta

### OS / Environment

[code]

### Summary of the problem

Same problem a last post. See http://www.datacenter.gru.br/login.php
"Failed to connect to server. Please check config."

### Steps to reproduce the behavior

Try login.

### Source code / logs / error code

Failed to connect to server. Please check config.

[2019-01-20 01:57] Caetano1149621111 commented on #81
![image](https://user-images.githubusercontent.com/9559838/51434355-e9a90480-1c45-11e9-9036-650e6d692554.png)

[2019-01-22 18:54] cdgco commented on #80
Additional FTP is currently in development and is planned to be released in the next version. If you manually install the current development build, you can use Additional FTP, although there are still bugs in the system.

[2019-01-22 18:55] cdgco commented on #81
This means that either the host address, port, ssl, username or password to your VestaCP server is incorrect. Please check your MySQL database and correct any errors. Visit https://vwi.cdgtech.one/#/web-config for more info.

[2019-01-31 17:46] roxyschram commented on #81
I'm having the same issue. After install, I can log in. I can browse around. After 5 minutes logged it I get logged out and it says failed to connect to server. Please check config.

[2019-01-31 17:48] roxyschram commented on #81
Just tried something, changing host from the URL to localhost fixed my issue. Had to change through phpmyadmin

[2019-01-31 22:36] roxyschram opened #82 "Can't edit web/dns stuff"
### OS / Environment

[code]

### Summary of the problem
Unable to display or edit entries in WEB/DNS/BACKUP from VWI. Having to log into VestaCP to make those changes. Also, click on username in sidebar does nothing.

### **ALL SOFTWARE IS UP TO DATE. What ever the latest version is, that is what I have. Updates run daily**

![vwi01](https://user-images.githubusercontent.com/20067948/52090654-032

[2019-01-31 22:58] roxyschram commented on #82
So I changed the theme from the user account and NOW it won't connect to Vesta again saying the check config

[2019-02-15 18:42] cdgco commented on #81
That sounds like it could be an error with the way the domain was entered, assure that you do not enter "https://" or the following "/". You could also try entering the IP address of your VestaCP server to see if this is actually an error with connecting to Vesta or with the way the address is being entered.

[2019-02-27 17:50] japp-0xlabs opened #83 "Vulnerability"
Hi @cdgco ,
I've found a critical vulnerability and tried to contact you by email, but the mail bounces.

Please, give me an email to send you the details.

Thanks for your great work.
Kind regards

[2019-03-06 20:13] cdgco commented on #83
@japp-0xlabs Please contact me at carter@cjrevents.com.

[2019-03-18 20:50] cdgco commented on #82
I presume this error was either a configuration error or has been fixed in an update. Please reopen this ticket if you still have an issue.

[2019-03-18 20:50] #82 closed

[2019-03-18 20:50] #81 closed

[2019-03-19 23:17] #77 closed

[2019-03-19 23:25] cdgco commented on #4
Frontend Tests: /edit/domain.php & /add/domain.php
Backend Tests Passed: /create/domain.php

Tests Failed: /change/domain.php

[2019-03-20 03:16] #4 closed

[2019-03-20 03:16] #80 closed

[2019-03-20 06:05] #83 closed

[2019-03-21 15:24] manzwebdesigns commented on #55
I installed it, but can't seem to able to login. I get a message that reads "Failed to connect to server. Please check config."  So I checked both the config file located in includes/ as well as the table in mysql.  Both looked fine.  Help?

[2019-03-30 01:56] kurtobando opened #86 "Please add Reset Option in Administration > Settings"
Vesta Web Interface v1.0.0

### OS / Environment

[code]

### Summary of the problem

It would be best if we have Reset option on the Settings page. This way, we could restore default settings. For example, default icons, and logos.

### Steps to reproduce the behavior

Administration > Settings

[2019-03-30 02:03] kurtobando opened #87 "Please hide admin password inside database."
Vesta Web Interface v1.0.0

### OS / Environment

[code]

### Summary of the problem

It would be best not to display the password in plain text
https://snag.gy/Fq3vet.jpg

### Steps to reproduce the behavior

PHPMyAdmin > database_name > vwi_config

[2019-03-30 05:58] kurtobando commented on #55
@cdgco
I love your work team. Even you will commercialize your work, I will still subscribe to you platform. Great work.

[2019-05-29 09:24] colb opened #88 "Customize the registration page"
It can be interesting the add options for the registration page like :
- Registration active Y/N (existing)
- Manual validation
- Personnalized fields (content stored for manual validation or sent via email)

[2019-06-03 12:13] C00Lzero opened #89 "Missing Web-Settings"
### OS / Environment
[code]

### Summary of the problem
Web-Settings not available, even though it's activated in the settings (and database)
Everything else seems to work.
![missing_web_settings](https://user-images.githubusercontent.com/1133827/58800949-81adf600-8609-11e9-96bd-131027dd496a.PNG)
![missing_web_settings_large](https://user-images.githubusercontent.com/1133827/58800950-82468c80-8609

[2019-06-15 01:01] cdgco commented on #89
VWI checks in the background to see if either apache2, nginx or php-fpm is installed, if it does not detect those servers it disables the web system. There is likely an error in the detection. I am not at my computer at the moment but when I get a chance I will write a command for you to run to check if that is the error.

[2019-06-15 01:03] cdgco commented on #88
I plan to remove the current registration system once I complete the billing plugin as it introduces a new registration system on the front and back end.

I may introduce a separate plugin that solely focuses on free registration, but these changes are not possible with the way I currently have the registration system built.

[2019-06-16 09:38] C00Lzero commented on #89
ah! this is the issue.
I've upgraded the installed php5 to php7
put there the processes are called php<version>-fpm; so the detection won't return a match.

i've come up with 3 possibilities:
1) change the checker to '-fpm' only
2) change the checker to preg_match
3) change the checker to check first for trailing / (as for regex) in the String and then decide what to do.

on my copy I got with nr.

[2019-06-16 09:38] #89 closed

[2019-06-19 16:49] BartManX commented on #88
Any ETA on the working billing system?

[2019-06-24 16:34] cdgco commented on #88
@BartManX Right now the entire project has been on hold, including VWI & the billing system, because of my classes and other jobs. I will try to work on this if I have any free time this summer, but my guess is that it will take at least 2 months if I do have the time to work on it consistently. Sorry for the delays.

[2019-06-24 16:36] cdgco commented on #89
Sorry I wasn't able to respond sooner. Thank you for solving this error. This will be included in the next release.

[2019-06-27 22:12] Krzysztofeqq opened #91 "Error with functionally on newerest version VestaCP"
### OS / Environment
[code]

### Summary of the problem
Hello, i installed interface and have problems with functionally
### Steps to reproduce the behavior
PHP error show, check database, check packages
### Source code / logs / error code
Not Showing Domains in /list/web.php
Error with adding ssl

![1](https://user-images.githubusercontent.com/44102524/60304328-664cb700-9939-11e9-8f9e-6475f56ea43

[2019-06-27 22:24] #91 closed

[2019-06-27 22:35] cdgco commented on #91
@Krzysztofeqq It looks like you had some kind of debugging enabled which was conflicting with the PHP rendering. If you are still having problems let me know / reopen the issue.

[2019-06-27 22:37] Krzysztofeqq commented on #91
I repaired, errors. :+1:  thanks, your interfeace been beatfull, please add with backround particles red and black color <3

[2019-06-27 22:38] Krzysztofeqq commented on #91
@cdgco Can I create a Polish version of your interface as a Polish user?

[2019-06-27 23:16] cdgco commented on #91
@Krzysztofeqq Thank you. If you would like to help translate VWI, there are preset locale files in the [/locale](https://github.com/cdgco/VestaWebInterface/blob/master/locale) folder. The empty polish translation files are located in the [pl_PL/LC_MESSAGES](https://github.com/cdgco/VestaWebInterface/tree/master/locale/pl_PL/LC_MESSAGES) folder. I recommend using the tool [poedit](https://poedit.ne

[2019-06-27 23:20] Krzysztofeqq commented on #91
@cdgco really? I translate in PHP files, :D I did not know it was empty: D I'm taking on the translation because I need it myself.

[2019-06-27 23:26] Krzysztofeqq commented on #91
@cdgco I can add with created by ... that Polish translation created by my name and surname (Nickname)?

[2019-06-27 23:28] cdgco commented on #91
@Krzysztofeqq Yeah, most of the translation files are empty as neither I or anyone else has taken the time to do the translations. I use .po / .mo files for translation because it allows the PHP files to remain the same and uses a the PHP gettext extension to manage the translation on a per session basis.

You can add whatever name or credit you would like.

[2019-06-27 23:29] Krzysztofeqq commented on #91
@cdgco I got lost in the action because I saw this file, but I thought it was full: D I've already translated 76 words about 600

[2019-06-27 23:30] Krzysztofeqq commented on #91
And I have a question, could I have some contact with you? Not by GitHub

[2019-06-27 23:31] cdgco commented on #91
@Krzysztofeqq You can contact me directly by email if you wish, carter@cdgtech.one

[2019-06-27 23:32] Krzysztofeqq commented on #91
Okey, i writing mails from email contact@krzysztofeqq.tk

[2019-06-28 01:18] Krzysztofeqq commented on #91
How to load language?

[2019-06-28 14:00] Krzysztofeqq opened #92 "Error with ssl certificates and update domains"
### OS / Environment

[code]

### Summary of the problem

SSL from Cloudflare, Let's Encrypt and other not working
Error Updating Web Domain
Please try again or contact support.
(E: 0.0.0.0.0.0.2.0.0.0.0.0)

### Steps to reproduce the behavior
Error Updating Web Domain
Please try again or contact support.
(E: 0.0.0.0.0.0.2.0.0.0.0.0)

### Source code / logs / error code
Error Updating Web Domain
P

[2019-06-28 14:10] Krzysztofeqq commented on #92
And bug on add package, not showing dns teamplates, and how to remove proxy teamplate?

[2019-06-28 16:01] cdgco commented on #91
@Krzysztofeqq Are you asking how to load it into poedit or how to change the language in VWI?

[2019-06-28 16:10] cdgco commented on #92
@Krzysztofeqq The error codes are listed on the VWI Documentation on the page [error codes](https://vwi.cdgtech.one/#/errors). In this case the error code is reporting that there was an invalid argument provided when deleting or adding a web domain statistics user.

Please include the corresponding error as shown in the `/usr/local/vesta/log/error.log` file if you would like me to further troubles

[2019-06-28 16:54] Krzysztofeqq commented on #92
I send link to logs to your email.

[2019-06-28 16:56] Krzysztofeqq commented on #91
VMI

[2019-06-28 18:29] Krzysztofeqq commented on #92
You help me? or not help?

[2019-06-28 18:34] cdgco commented on #91
@Krzysztofeqq You should be able to change the default language in the admin settings page, `/admin/list/settings.php`. You can change the language for the current user in the account settings page, `/profile.php?settings=open`.

I have had some trouble in the past getting translations to work on some systems and I haven't tested the function in a long time since the translations were never comple

[2019-06-28 18:44] Krzysztofeqq commented on #91
help me in https://github.com/cdgco/VestaWebInterface/issues/92 ( Panel on Nginx )

[2019-06-28 18:45] cdgco commented on #92
@Krzysztofeqq Sorry, I am at work right now and don't have much time to check Github.

It looks like I misread the error code and it is actually a problem with Let's Encrypt. Let's Encrypt and other VestaCP functions are unable to connect to the website you are trying to enable SSL on.

I believe this is an error with the templates you were speaking of earlier. It seems you need the proxy template

[2019-06-28 18:45] #92 closed

[2019-07-12 07:38] Krzysztofeqq opened #93 "Error with add custom ssl, and generate Let's Encrypt SSL"
### OS / Environment

[code]

[2019-07-12 11:07] Krzysztofeqq commented on #93
?

[2019-07-12 17:29] cdgco commented on #93
This is the same issue referenced in #92. Once again, this is an error with your server or domain configuration, not VWI. Please see the [VestaCP error codes](https://vestacp.com/docs/api/#return_codes) page or contact VestaCP for support.

[2019-07-12 17:29] #93 closed

[2019-07-14 10:19] CodeczeQ opened #94 "Please help me with install interface on debian 9"
Please type commands to install interface

[2019-07-14 10:34] cdgco commented on #94
Please refer to the [documentation](https://vwi.cdgtech.one/#/auto-install) for installation instructions.

[2019-07-14 10:40] Krzysztofeqq commented on #94
Not working, get in webinterface errors :/

[2019-07-15 17:05] cdgco commented on #94
Please either use the [manual installation](https://vwi.cdgtech.one/#/manual-install) method or provide some detail about the problem.

I can't do anything if you don't give any information on the problem.

[2019-07-23 17:18] #94 closed

[2019-07-25 23:15] cdgco opened #95 "Support - Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/support

 Description

[2019-07-25 23:16] #95 closed

[2019-07-25 23:16] cdgco opened #96 "Automatic - Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/auto-upgrade

 Description

[2019-07-25 23:16] #96 closed

[2019-07-30 10:39] MyBlood commented on #55
after installation here is the problem

![Github Logo](https://7zet.ml/screens/2019-07-30_133631.png)
I can't get into the admin panel

[2019-07-30 18:00] cdgco commented on #55
@MyBlood I'm sorry that you are experiencing issues. Is your control panel installed at http://usa-server.***hoster.ru ?

[2019-07-30 19:42] MyBlood commented on #55
yes

[2019-07-30 19:48] cdgco commented on #55
@MyBlood Your control panel is connecting to MySQL successfully but is failing to connect to the VestaCP API. I assume that either your admin credentials were misspelled or your server address was written wrong as your VestaCP server and API appear to be working correctly.

Please check your MySQL database and ensure that the following values are set like so:
[code]
Note that I censored the IP add

[2019-07-30 22:36] MyBlood commented on #55
I double-checked the data, all right, but the problem is not gone

[2019-07-30 22:40] cdgco commented on #55
@MyBlood Could you check and/or email your VestaCP error and auth logs (/usr/local/vesta/log/error.log & /usr/local/vesta/log/auth.log) to me at carter@cdgtech.one.

[2019-07-30 22:43] MyBlood commented on #55
172.245.206.27

[2019-07-30 22:52] MyBlood commented on #55
I sent You, did you get it?

[2019-07-30 22:59] cdgco commented on #55
@MyBlood Yes. It appears that the request is going through to the VestaCP server but the credentials are failing to authenticate. It is possible that your password is incorrect in MySQL.

Please ensure that your admin password is correct and has no extra characters / spaces.

If the problem still persists, you can try to authenticate using an API key instead of credentials.
To do this, run the com

[2019-07-30 23:23] MyBlood commented on #55
I double-checked, but still no change.

it helped.
But now there are two new challenges:

1.After I logged out, I can no longer get into the admin panel with the same data.
2. Interface language is not changed

[2019-07-30 23:31] cdgco commented on #55
@MyBlood I do not understand this first problem. Could you describe what you mean by same data, and what errors you are receiving.

As for the second, problem, VWI has not been translated into all languages yet, only English, Spanish, Portuguese, and German. I plan to work on translations in the future, but right now most translation files are empty (/locale).

[2019-07-30 23:36] MyBlood commented on #55
![1](https://7zet.ml/screens/2019-07-31_023254.png)

[2019-07-31 00:20] cdgco commented on #55
@MyBlood This is the same problem as the problem connecting to the server. Your password is incorrect. It is possible that your password either has some non-standard character that VWI cannot process, although I have never experienced this, or you are entering the wrong password.

Are you able to login to the traditional VestaCP control panel (https://172.245.***.27:8083/login/) with this password

[2019-08-01 13:19] MyBlood commented on #55
I am ready to do the translation into Russian.

[2019-08-01 13:20] MyBlood commented on #55
Everything seems to be working out.

[2019-08-01 13:26] MyBlood commented on #55
Do you need to write text in quotes in your language?
![locale](https://7zet.ml/screens/2019-08-01_162226.png)

[2019-08-01 18:43] cdgco commented on #55
@MyBlood You can write the translations manually in the quotes, however, I recommend using the tool [Poedit](https://poedit.net/) to open and edit the `messagse.po` files which is much easier to use.

[2019-08-04 21:48] mikeleord opened #97 "portal sections DB, DNS, WEB do not appear"
**Server Environment**
Run the command `php -v && lsb_release -a && /usr/local/vesta/bin/v-list-sys-config` and put the output below

[code]

**Client Environment**
If the error occurred within the Vesta Web Interface control panel, what was the client environment.

[code]

**Describe the bug**
Hello
I installed version 1, in the portal sections DB, DNS, WEB do not appear, I manually entered the u

[2019-08-04 21:54] cdgco commented on #97
@mikeleord Hello, could you try running the command `/usr/local/vesta/bin/v-list-sys-config` and send the results, it seems the output is missing from your post. Could you also try visiting http://10.29.22.212/list/web.php and seeing what happens?

[2019-08-05 16:21] mikeleord commented on #97
Hello sorry the delay, on /list/web.php gives me error 403 forbidden.
here is the excuse command I had not attached:

WEB Server:     httpd:8080 (apache)
SSL Support:    mod_ssl:8443
Proxy Server:   nginx:80
Proxy SSL:      nginx:443
Web Stats:      webalizer, awstats
FTP Server:     proftpd
Mail Server:    exim + dovecot + clamav + spamassassin
Database:       mysql
DNS server:     named (cluster

[2019-08-05 17:38] cdgco commented on #97
@mikeleord Alright, thank you. VWI seems to be failing to identify apache2, bind9, or mysql.

Please create a new file in the base directory of your VWI installation (the same directory as the index.php file) called test.php with the following contents, then visit http://10.29.22.212/test.php and send the results:
[code]

[2019-08-05 18:45] mikeleord commented on #97
hi,
thanks for the help, here is the result:

{ "httpd": { "SYSTEM": "web server", "STATE": "running", "CPU": "0", "MEM": "497", "RTIME": "102" }, "nginx": { "SYSTEM": "reverse proxy", "STATE": "running", "CPU": "0", "MEM": "39", "RTIME": "102" }, "named": { "SYSTEM": "dns server", "STATE": "running", "CPU": "0.5", "MEM": "1486", "RTIME": "102" }, "exim": { "SYSTEM": "mail server", "STATE": "runni

[2019-08-05 18:49] cdgco opened #98 "System Requirements - Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/requirements

 Description

[2019-08-05 18:52] cdgco opened #99 "Automatic - Vesta Web Interface - Docs"
https://vwi.cdgtech.one/#/auto-upgrade

 Description

[2019-08-05 18:56] cdgco commented on #97
@mikeleord It seems that either VestaCP has changed their naming conventions or CentOS uses different naming than Ubuntu and Debian.

Regardless, I just updated the software so that it should fix this error with CentOS. Please replace your `includes/includes.php` file with the new version from https://raw.githubusercontent.com/cdgco/VestaWebInterface/master/includes/includes.php and let me know if

[2019-08-05 19:01] #98 closed

[2019-08-05 19:02] #99 closed

[2019-08-05 19:06] mikeleord commented on #97
oohh yes!
solved everything!
Thank you!!!

![vesta ok](https://user-images.githubusercontent.com/42770845/62488547-32cd3a00-b7cd-11e9-8382-ec0f7090e7f0.png)

[2019-08-05 19:10] cdgco commented on #97
@mikeleord Great! Let me know if there is anything else you need help with.

[2019-08-05 19:10] #97 closed

[2019-08-05 19:12] mikeleord commented on #97
Ok thanks a lot in the meantime!

[2019-08-08 18:20] cantalupo555 opened #100 "Language is not changed"
![](https://i.imgur.com/rkDBLCP.png)

The language is successfully changed, but the theme is not translated to the selected language.

[2019-08-08 18:49] cdgco commented on #100
@cantalupo555 It appears that the language installation script I originally wrote no longer works. Are you using Ubuntu, Debian, CentOS or RHEL?

[2019-08-08 18:56] cdgco commented on #100
@cantalupo555 Try running the command `sed -i 's/^# *\(pt_BR.UTF-8\)/\1/' /etc/locale.gen && locale-gen && service apache2 restart` and seeing if the page is translated.

[2019-08-08 19:31] cantalupo555 opened #101 "APP list distance"
![](https://i.imgur.com/4JYpa80.png)

[2019-08-08 19:35] cantalupo555 commented on #100
It works ... but he keeps cutting the first letters.
Tried to open in other browsers and presents the same problem.

![](https://i.imgur.com/Bv4zrhg.png)
![](https://i.imgur.com/DfjcmiM.png)

[2019-08-08 19:50] cantalupo555 commented on #100
I am using Ubuntu 18.04 (LXC)

[2019-08-09 12:30] cantalupo555 commented on #100
Just tested on another Ubuntu machine, presents the same problem
![](https://i.imgur.com/QfHCog8.png)

[2019-08-09 16:09] cdgco commented on #100
@cantalupo555 Yes, I am experiencing this problem on my Debian servers as well, I have not had the time to diagnose the problem yet.

[2019-08-09 18:06] cantalupo555 commented on #101
The "softaculous" is very far from "phpmyadmin"

[2019-08-09 18:17] cdgco commented on #101
@cantalupo555 Again, I do not have the time to come up with a comprehensive fix for this at the moment, but you should be able to change line 432 in your includes/includes.php file to ` if ($softaculousurl != '') { echo '<li style="height: 48px;"><a style="height: 48px;" href="' . $softaculousurl . '" target="_blank"><i style="top: -10px;" class="icon-softaculous">&#xe801;</i><span style="top: -21

[2019-08-11 10:41] kang28ivan opened #102 "Internal Server Error when Add/Delete Domain"
I have problems when adding or removing domains

500
Internal Server Error
Something went wrong. Please try your request again.

https://prnt.sc/or6s0j

[2019-08-11 10:56] kurtobando commented on #102
Better to check your apache error logs for clues. 500 is too general to isolate.

[2019-08-11 11:02] kang28ivan commented on #102
here this error log

`2019/08/11 17:41:13 [error] 14982#14982: *118 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined index:  in /home/admin/web/myhostname/public_html/add/domain.php on line 64" while reading response header from upstream, client: 110.139.250.131, server: myhostname, request: "GET /add/domain.php HTTP/1.1", upstream: "fastcgi://127.0.0.1:9001", host: "myhostname", refer

[2019-08-12 16:03] cdgco commented on #102
@kang28ivan Nothing in your error log would throw a fatal error, they are all just notices rather than errors or warnings. Try editing your .htaccess file, changing line 34 to `php_flag display_errors On` and attempting the same action then respond with any error codes.

[2019-08-16 12:21] hafidzmrizky commented on #55
How to fix the 403, in this interface.. and there were no menu for DNS, web.. help pls

[2019-08-16 20:25] cdgco commented on #55
@hafidzmrizky Please [open a new issue](https://github.com/cdgco/VestaWebInterface/issues/new?assignees=&labels=&template=bug_report.md&title=) specifically for your problem and run the diagnostic commands listed in the issue so that I can help specifically for your issue.

[2019-08-18 06:48] kang28ivan commented on #102
I use nginx + php-fpm at this time, and for the DB menu is not available?
I don't see a menu to add a database

[2019-08-18 06:56] cdgco commented on #102
@kang28ivan This is likely related to issue #97 which has been fixed in the upcoming release, but you can try the solution listed in [this comment](https://github.com/cdgco/VestaWebInterface/issues/97#issuecomment-518356101) to see if that works.

I would also appreciate if you could run the command `bash <(curl -s https://cdgco.github.io/debug)` and reply with the ouput so that I can see your spe

[2019-08-18 07:00] kang28ivan commented on #102
Thank you, this means just waiting for an upcoming release for improvement db menu.

here debug command result

bash <(curl -s https://cdgco.github.io/debug)
/dev/fd/63: line 22: [: missing `]'
Error: Debian, Ubuntu, CentOS, or RHEL not detected. Exiting ...\n

[2019-08-18 07:04] cdgco commented on #102
@kang28ivan Sorry, it looks like the debug script isn't working. Could you try running this command instead `php -v && lsb_release -a && /usr/local/vesta/bin/v-list-sys-config && /usr/local/vesta/bin/v-list-sys-services` and could you also tell me what operating system you are using?

As for the actual issue, yes you can wait for the next release, but the fix is already uploaded to GitHub, so if y

[2019-08-18 07:10] kang28ivan commented on #102
Thank you, I will try manual update sir.

# php -v && lsb_release -a && /usr/local/vesta/bin/v-list-sys-config && /usr/local/vesta/bin/v-list-sys-services
PHP 7.2.21 (cli) (built: Jul 30 2019 14:46:08) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
LSB Version:    :core-4.1-amd64:core-4.1-noarch
Distributor ID: CentOS
Description:    Cen

[2019-08-18 07:14] cdgco commented on #102
@kang28ivan It looks like your problem is the same as the other issue. It is specifically related to MariaDB (and/or Apache2 & Named) on CentOS. If this fix does not work, let me know.

Also, I could be wrong, but I believe this error should also be preventing your 'DNS' page from displaying too.

[2019-08-18 07:19] kang28ivan commented on #102
It seems right as you said, several times I have to restart the mariadb because when access to the interface appears not connected notifications, and after restarting mariadb can work fine.

So how is the solution to fix it?

[2019-08-18 08:29] cdgco commented on #102
@kang28ivan The issue with the menus not showing is that VWI is attempting to find MySQL not MariaDB. That is fixed by replacing your includes/includes.php file with [this one](https://github.com/cdgco/VestaWebInterface/blob/master/includes/includes.php).

The 'not connected' notifications are an entirely different issue, and are likely a product of your server configuration. Either your server do

[2019-08-18 16:15] kang28ivan commented on #102
I have already tried reinstalling, but the result is still the same, when add domain and delete domain always "Internal Server Error"

`2019/08/18 23:08:38 [error] 8563#8563: *1777840 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined offset: 2 in /home/admin/web/abcotra/public_html/add/domain.php on line 206" while reading upstream, client: 180.249.201.8, server: abcotra, request: "GET

[2019-08-18 17:25] cdgco commented on #102
@kang28ivan The error that is causing this is from this line `[error] 8563#8563: *1777840 recv() failed (104: Connection reset by peer) while reading response header from upstream`. This is an error between nginx and php-fpm where your server is closing the connection because it is out of resources.

Unfortunately, this in not an error with VWI but rather VestaCP and your configuration of nginx an

[2019-08-30 20:50] pitrs1988 commented on #55
Hello, is interface compatible with last version vesta cp? Link Web, DNS, DB, is not in menu. Thanks you.

[2019-08-30 21:22] cdgco commented on #55
@pitrs1988 No, it seems one of the newest releases affected compatibility. This has been fixed and is available on GitHub on the latest branch and will be fixed in the next release of VWI. This problem has been discussed in #99 and #102. You can perform a manual installation as discussed in those issues to fix it immediately before I release an update to VWI.

[2019-08-31 06:32] sohamb03 commented on #55
Hello @cdgco. Thanks for your wonderful work. Just wondering about something. Most probably the File Manager isn't yet integrated with VWI?

[2019-08-31 06:38] cdgco commented on #55
@sohamb03 Hi there! Thank you! I have not integrated any of the commercial plugins offered from VestaCP, although I may do this in the future. I discussed this briefly in #51 and I do plan on doing it eventually. In the meantime, however, you can install the [vwi-ftp](https://github.com/cdgco/vwi-ftp) plugin which offers a similar web file management interface.

[2019-08-31 06:45] sohamb03 commented on #55
It's alright for now. Thanks for clarifying!

[2019-09-13 10:05] sohamb03 commented on #55
Hello @cdgco. I have succesfully installed VWI. Most of the configs are done, but just now I noticed that the Web and DNS pages are not showing up in the menu. I tried to access them through the keyboard shortcut, but it brought me to the 403 page. BTW the web and dns both are enabled in settings. Any ideas?

[2019-09-13 14:30] cdgco commented on #55
@sohamb03 This is a known issue that has been fixed and will be published in the next release. You can manually install the fix immediately by following the instructions in #97 and #102.

[2019-09-14 06:20] sohamb03 commented on #55
Thanks Carter. The one in #97 would definitely help. Will install the fix as soon as I'm on from a PC.

Also, I'm looking forward to the file manager, whenever it may be released. Thanks for your efforts!

[2019-09-14 09:39] sohamb03 commented on #55
Just to let you know Carter(@cdgco) it worked. Thanks a lot!

[2019-09-14 09:43] sohamb03 commented on #55
There's one more thing Carter...phpMyadmin isn't appearing in the 'Apps' section. Any ideas?

[2019-09-15 23:27] cdgco commented on #55
@sohamb03 The phpMyAdmin bug is related to the issue in #97 and #102, I just forgot to update that in the temporary fix. This has been updated in GitHub and I will release v1.0.1 with these updates and more today.

[2019-09-16 04:28] #69 closed

[2019-09-16 04:29] #86 closed

[2019-09-16 04:30] #102 closed

[2019-09-16 07:02] sohamb03 commented on #55
Okay... Auspiciously waiting for it!

[2019-09-16 07:05] cdgco commented on #55
@sohamb03 @pitrs1988 @hafidzmrizky [VWI version 1.0.1](https://github.com/cdgco/VestaWebInterface/releases/tag/v1.0.1) is now available.

[2019-09-16 07:12] sohamb03 commented on #55
Wow! Amazing 👌

[2019-09-16 09:41] sohamb03 commented on #55
@cdgco: Found a new bug. Softaculous link redirects to old CP.

[2019-09-18 08:20] sohamb03 commented on #55
@cdgco Could you please check if something's wrong with Softaculous? Previously it used to load automatically but now it's taking me to the old CP and asking me to login.

[2019-09-18 18:52] cdgco commented on #55
Yes, I will take a look at it, I haven't changed anything to the Softaculous system in while so I'm assuming VestaCP made some more changes on their side.

---- On Wed, 18 Sep 2019 01:20:03 -0700 Sayan Bhattacharyya <notifications@github.com> wrote ----

https://github.com/cdgco Could you please check if something's wrong with Softaculous? Previously it used to load automatically but now it's taki

[2019-09-19 03:15] cdgco commented on #55
@sohamb03 The integration with Softaculous has always been a basic link to the control panel which does no authentication. The only way it should load automatically is if you had logged into the old CP recently and still had cookies in your browser, otherwise it should have always asked for a login when accessing Softaculous.

However, I should be able to alter some code on the VestaCP backend to

[2019-09-19 06:31] sohamb03 commented on #55
I see. Your argument about the saved cache thing is indeed true. Well I'd be grateful if you could do the auto-authentication for Softaculous. This would be great indeed.

Just an offtopic question - what are you developing right now on VWI?

[2019-09-19 06:37] cdgco commented on #55
@sohamb03 The big projects I have been focusing on lately are building the new [billing / registration system](https://github.com/cdgco/vwi-billing) and rebuilding / finishing the localization system.

I have said before to others though, I have made little progress over the last few months as I have had little time to devote to VWI between work and school, since this is a side project for me, so

[2019-09-19 07:19] sohamb03 commented on #55
Good to know that! Hope you find time for the petty ones too. Thanks for the great service!

[2019-09-25 11:55] sohamb03 commented on #55
Hello @cdgco. THe 'DNS Support' checkbox isn't appearing in the 'Add Domain' feature. Kindly check. Also, due to this, DNS support for the domain isn't being created automatically as it should.

[2019-10-11 10:03] hkayaeu opened #105 "Backup Download not working"
**Server Environment**
[code]

**Client Environment**
If the error occurred within the Vesta Web Interface control panel, what was the client environment.

[code]

**Describe the bug**
When a user wants to download a backup the screen asks for password and after that it forwards to port 8083 (vestacp) that is greeted with a invalid Cert, because server domainname and the panel domain name are diff

[2019-11-21 23:11] AysadKozanoglu commented on #55
amazing job. Thanks a lot.

[2019-11-29 00:07] lidjan45 commented on #55
Hello, after i done steps for Automatic installation and i access domain when i install i get 500 Internal Server Error

[2019-11-30 23:54] cdgco commented on #55
@lidjan45 This is likely an error with the connection to your specified MySQL database. Try editing your .htaccess file and change the line `php_flag display_errors Off` to `php_flag display_errors On`, save and retry installation. If the error persists, please [open a new issue](https://github.com/cdgco/VestaWebInterface/issues/new?assignees=&labels=&template=bug_report.md) including any error co

[2019-11-30 23:56] cdgco commented on #55
@sohamb03 VWI only shows DNS support for valid TLDs, if you were using a subdomain the DNS box would be hidden. If this was not the case, it is possible that the algorithm for determining if a domain is a TLD or not is not functioning properly.

[2019-12-01 00:04] cdgco commented on #105
This seems to be a problem with the SSL on your old VestaCP control panel at port 8083 as VWI has to use the old control panel in order to load downloads. In order to fix this, either install a new SSL certificate on your VestaCP server or disable SSL for the old control panel.

[2019-12-01 00:25] cdgco commented on #105
Please reopen this issue if you continue experiencing problems.

[2019-12-01 00:25] #105 closed

[2019-12-01 14:38] sohamb03 commented on #55
For me, VWI is installed on panel.example.com and suppose I'm adding example2.com, then it's not showing the DNS box. Please check this, I think it's a glitch.

[2019-12-08 02:21] DamonNomadJr opened #106 "Issue With FTP account change and DNS Records"
**Server Environment**
[code]

**Client Environment**
[code]

**Describe the bug**
The issue that we have is the problem with changing FTP account information and updating DNS records.

**Issue 1 FTP:** Arises when I try updating an FTP account, and I get internal server error code 500 across all my websites (Currently hosting 6) and all of them shut down. Here is a screenshot for example:

1. Go

[2019-12-10 16:21] cdgco commented on #106
@DamonNomadJr This is likely a problem with VestaCP as VWI has no access to your websites directly. Most likely there is a corrupt configuration somewhere or services are failing to restart after updates. First attempt updating your FTP or DNS records in the old VestaCP control panel to see if you are receiving the same errors, if so, check the following logs: /usr/local/vesta/log/error.log and /u

[2019-12-12 00:39] DamonNomadJr commented on #106
Hello @cdgco, by my previous observation it has failed to properly update the records for FTP through vestaCP, as I did not have this issue by doing it directly through VestaCP itself.

I have checked the services and nginx and apache2 both refuse to run as there is a corrupt file somewhere within the system after I make the changes through VWI. Yet no changes through VCP causes this issue.

[2020-01-08 01:12] DamonNomadJr commented on #106
Hi there to follow up again about changing the DNS records, I have taken the opportunity to create a whole new ecosystem (new server, new Vesta installation with apache and nginx, and vwi) and the editing DNS still gives me issues. "*Not enough arguments provided.*" is the error I still get. Would someone please look into this issue and see if I am the only one who is getting it?

Simply add a new

[2020-01-11 14:26] AutoCultivo commented on #55
Thanks to you very much, I goes years waiting for this beautifull and wonderfull change for Vesta Look, amazing, seriously , many many thanks

[2020-02-24 04:05] roxyschram opened #107 "Report correct IP to Vesta log"
I would love to see failed login attempts correctly logged to the vesta log files so that fail2ban can correctly block IP addresses after preset attempts and timing. As of right now, failed attempts are logged as 127.0.0.1 and successful attempts are logged as the gateway IP address. It is not logging the IP of the actual devices IP.

[2020-03-04 05:12] Herd25 commented on #55
hello I found an error in this I installed it as in the guide but I get it! failed to connect to the server, please check the config!
what would help because the database is no entry

[2020-03-13 20:44] #107 closed

[2020-03-15 17:51] thecryptolive opened #108 "Updating mail account issue"
**Server Environment**
Run the command `bash <(curl -s https://cdgco.github.io/debug)` and put the output below

[code]

**Client Environment**
If the error occurred within the Vesta Web Interface control panel, what was the client environment.

[code]

**Describe the bug**
![5F38A213-1E0E-4DBE-A699-9C28E9F7F487](https://user-images.githubusercontent.com/61197903/76707075-c8fe0280-66c2-11ea-9e82-e

[2020-03-15 17:52] thecryptolive commented on #108
Just note that i remove my domaine name and replace it by ********

[2020-03-21 21:53] cdgco commented on #108
The main error here is that VestaCP was unable to update your mail account alias and is stating that the alias `hostmaster` is invalid. This seems like it may be a problem with VestaCP or your email server and sounds similar to the error described [here](https://forum.vestacp.com/viewtopic.php?t=6013) although there is no solution offered there.

My suggestion would be to start by rebuilding your

[2020-03-22 19:32] cdgco commented on #100
It seems that the problem with translations being cut off were just errors in the configuration of the messages.po files. These should be fixed, at least for pt_BR in the latest commit efd7e403ef9f7917c57486c845755009f00b02f7. I also added many more translations in to pt_BR in this commit, although this locale is not complete yet.

[2020-03-22 21:51] cdgco commented on #100
I changed the system that processes the translations from gettext to motranslator which allows for easier switching of locales and installation without locales or gettext extensions.

[2020-03-22 21:51] #100 closed

[2020-03-22 21:51] cdgco commented on #100
Release v1.0.2 will be focused primarily on locale updates

[2020-03-23 00:15] cantalupo555 commented on #100
thank you

[2020-03-23 03:55] cdgco commented on #15
To anyone who wants to help with translations, I am trying out POEditor rather than Poedit, which I have been using for the past few years. This software is better for collaboration, integrates directly with GitHub for ease of use and has free automatic translations for open source projects.

The project is available at https://poeditor.com/join/project/ajbXtt6c51.

I am currently awaiting approva

[2020-03-23 20:02] cdgco commented on #15
Closed with 49af673861b8d557546ca6ce038f0190b09fb565

[2020-03-23 20:02] #15 closed

[2020-03-23 21:49] #87 closed

[2020-03-23 22:05] #101 closed

[2020-03-26 21:42] spike99 opened #118 "Package register"
how can i change at the registration "Package" from default another?

[2020-03-26 21:51] #118 closed

[2020-03-27 18:27] spike99 opened #119 "Global page?"
is there a global page? I want to add an ad on all pages

[2020-03-27 19:23] cdgco commented on #119
There is not currently an option to add ads, I will add at least a footer option and possibly a header option later today. Thanks for the idea.

[2020-03-28 06:42] cdgco commented on #119
@spike99 The option for custom ads is now available. You can install it immediately by doing a [manual install](https://vwi.cdgtech.one/#/manual-install) or you can wait until the next release which will include this feature.

If you do a manual install, be sure to update your MySQL database either by using a clean table, or by using the command ```INSERT IGNORE INTO `vwi_config` (`VARIABLE`, `VAL

[2020-03-28 06:42] #119 closed

[2020-03-28 17:21] spike99 opened #121 "Ticket system"
There will ever be a system of tickets?
Or you can implement automatic logging into osTicket or a similar script free?

[2020-03-28 18:05] cdgco commented on #121
I will look into adding an integration or plugin for osTicket, I'd rather not build a ticketing system from scratch.

[2020-03-29 04:25] Herd25 opened #123 "new bug when trying to change log png"
I was testing this interface because it seems to me a minimalist design to what vestacp offers by default but in the tests I found a small one, not to mention that many bugs in version 2.1.1 when making changes to the server system, the interface Now this panel is closed and does not allow access, it says that there was a problem in the server connection and the only thing that was done was to cha

[2020-03-29 04:42] cdgco commented on #123
I just checked uploading images on one of my test environments and I was able to change the favicon, icon and logo with no error. What other settings did you change besides the images?

[2020-03-29 04:57] Herd25 commented on #123
Only that nothing else and it does not allow me to access the system I think that even the mysql corrupted me I have errors with the phpmyadmin and it does not give me access in case I think it has happened to me only I would have to reset vestacp from scratch

[2020-03-29 04:58] Herd25 commented on #123
the environment I use with this interface is centos 7 but in ubuntu I have not found that fault

[2020-03-29 06:49] josh-abram opened #124 "Running backup results in error in UI despite running properly"
Under Manage Backups > "Schedule Backup" results in the following:

![image](https://user-images.githubusercontent.com/39235841/77843112-7efa3e00-71e5-11ea-847d-cfeae0532b26.png)

Despite this, the backup is executed and properly displays in the Backups section below when it's completed.

[2020-03-29 07:10] cdgco commented on #124
The VestaCP API was returning 'OK' rather than '0'. Corrected by changing `'returncode' => $vst_returncode` to `'returncode' => 'yes'` in `add/backup.php`. Will be released in next minor version.

[2020-03-29 07:10] #124 closed

[2020-03-29 07:15] josh-abram commented on #124
Tested & working (manually patched).

[2020-03-29 20:56] Herd25 commented on #123
I tried again with a test interface from scratch and it returned to give the same failure when updating the favicon it seems that this version fails more with centos7 than with ubuntu What would be the most recommended to test in centos 7?

[2020-03-29 21:34] Herd25 commented on #55
the connection failed please check the configuration the latest verison v 2.1.1 comes with this failure once it is installed something is updated and then it closes you from the login and that error comes out as I do to solve in case my environment is centos 7

[2020-03-29 22:35] cdgco commented on #55
@Herd25 I have tested v2.1.1 on CentOS 7 with no errors. Can you please check that your MySQL database has been initialized correctly and that your VestaCP credentials are entered correctly?

[2020-03-29 22:44] cdgco commented on #123
I have tested on Ubuntu, Debian, CentOS and Windows, and this error is only happening on my CentOS environment as well, currently looking into it.

[2020-03-29 22:45] Herd25 commented on #55
It is correct, even try to make the connection by api_key and it generates the error, the server cannot connect, I tried again to install from scratch, the error returned within seconds of making an update and although it checks the parameters in the database, they are exact, modify putting the ip did not even follow the error it will not be that it is not fully compatible with all centos 7 some l

[2020-03-29 22:46] Herd25 commented on #55
even in a test environment I end up damaging access to phpmyadmin and full control of mariadb

[2020-03-29 22:50] cdgco commented on #123
@Herd25 What is your table name in MySQL?

[2020-03-29 22:55] cdgco commented on #55
@Herd25 can you continue the conversation on #123

[2020-03-31 08:13] josh-abram opened #129 "FTP Plugin doesn't show in UI if Optional Links are disabled"
If optional links are disabled, but you want to enable the FTP plugin you must enable at least one optional link so that the hide menu appears allowing the link to the FTP plugin to be shown.

Ideally, if FTP plugin is enabled it should always show regardless of the Optional Links.

Example of Optional Link Settings:

![image](https://user-images.githubusercontent.com/39235841/78002599-35dff080-73

[2020-04-01 02:32] cdgco commented on #129
Menu system wasn't checking to see if plugins were being placed in the 'Apps' section, so when all default apps were disabled, additional apps were also disabled. Fixed by adding `global $pluginsections;` to line 424 of `includes/includes.php`, and ` || in_array('apps', $pluginsections)` to the if statements in lines 442 & 450 of `includes/includes.php`,

[2020-04-01 02:32] #129 closed

[2020-04-01 21:53] endgame99 opened #130 "Register sistem"
you can add email verification at registration?
Or register with Google or GloboFace?

[2020-04-01 22:25] cdgco commented on #130
While it would definitely be possible to add email verification, I not sure there is an effective way to implement that while maintaining security. Since email verification would be linked only to VWI and not VestaCP itself, users could still access the classic VestaCP control panel without verification. I may be able to get around that by automatically suspending users until verified.

In order t

[2020-04-02 19:14] spike99 commented on #130
it is better and easier to make register with Google, Globoface, Facebook, etc, Email addresses are already validated

[2020-04-03 02:32] cdgco commented on #130
@spikepower I'm not sure what you mean by email addresses are already verified. If registrations are enabled on VWI users can login to their account as soon as they make it, there is no verification email or MFA.

@endgame99 I am currently adding social login / registration through Auth0. This system gives VWI 30+ 3rd party connections out of the box and gives the option for admins to add any cust

[2020-04-05 00:05] #130 closed

[2020-04-05 00:07] cdgco commented on #130
The Auth0 integration is now complete and can be used immediately by doing a manual installation, or you can wait until the next release which will include this feature.

The documentation is available here: https://vwi.cdgtech.one/#/auth

[2020-04-12 21:33] cdgco opened #134 "PHP Version to >= 7.1"
In order to continue effectively developing and efficiently testing updates as well as maintaining security, minimum PHP version should be increased to 7.1, which aligns with requirements for Motranslator and Auth0.

However, the most common PHP version installed on VWI systems this year was PHP 7.0. Although there were more total installations with PHP 7.1+, there is still a large number of users

[2020-04-14 21:52] cdgco commented on #130
v2.2.0 is now available
#136

[2020-04-15 22:18] #55 closed

[2020-04-21 20:24] foudreclair opened #137 "Error when edit Web domain with SSL"
**Server Environment**
Run the command `bash <(curl -s https://cdgco.github.io/debug)` and put the output below

PHP 7.2.29-1+ubuntu18.04.1+deb.sury.org+1 (cli) (built: Mar 20 2020 13:54:39) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with the ionCube PHP Loader + ionCube24 v10.3.9, Copyright (c) 2002-2019, by ionCube Ltd.
    wit

[2020-04-28 00:44] cdgco commented on #137
The directory is correct, VWI is set to upload certificates to /home/admin as a temporary FTP accessible location, while the command `v-change-web-domain-sslcert` is supposed to process the certificates in /home/admin and move them into the correct directories such as /home/admin/conf/web/.

Does this domain have a manual SSL certificate or one automatically generated by Let's Encrypt?

[2020-04-28 00:55] #108 closed

[2020-04-28 01:00] cdgco commented on #123
Changes to the logo system were made in commits 29c36c7 and 1fdcca2 which were released in [`v2.2.0`](https://github.com/cdgco/VestaWebInterface/releases/tag/v2.2.0). I'm assuming since there has been no response for a month that these commits solved the issue. If there is still a problem, please re-open this issue.

[2020-04-28 01:00] #123 closed

[2020-05-03 21:15] foudreclair commented on #137
Thanks for this informations.
This domain are automatically generated by Let's Encrypt.

After the error i can't restart the apache because the files doesn't exist. The only solution is to delete the domain.

[2020-05-04 00:04] cdgco commented on #137
It seems that there is a problem where it incorrectly tries to update an SSL certificate when updating domains but since an SSL certificate is already installed it overwrites it with empty data causing VestaCP to be unable to process the certificate and Apache2 to be unable to find it. I am currently working on an update to fix this.

[2020-05-04 07:03] cdgco commented on #137
The problem should be fixed in the latest commit which will be included in the next update.
To fix this immediately, you can change `$domaindata` to `$domainssl` in lines 410, 417 & 424 of `edit/domain.php` as shown [here](https://github.com/cdgco/VestaWebInterface/commit/c77977459861de544feec1d3ac318f212c832258#diff-b37db7bd7d330dbf0636b1f635603bbd).

Please re-open the issue if this did not fix

[2020-05-04 07:03] #137 closed

[2020-07-26 22:13] cdgco commented on #30
595fbf3

[2020-08-04 13:23] muzonff opened #140 "How do I set up an SSL?"
Hello, can you tell me how to configure it, on the domain it is installed

[2020-08-04 13:40] #140 closed

[2020-10-22 07:21] LaunchedBerry07 opened #141 "Installation Issues"
I need some help to install VWI, please.

Here is what I did:

- The hostname for Vesta CP is: cp.launchedberry.me
- I created a domain in Vesta CP for VWI: wui.launchedberry.me
- I ensured that the new created directory for that new domain was empty
- I used the automatic installation to install VWI in the following directory: /home/admin/web/wui.launchedberry.me/public_html/

Do the previous ste

[2020-10-22 07:46] #141 closed

[2021-05-21 15:11] DEAM0 opened #147 "AUTH0 Error Saving"
I'll save and don't save any fields.

Please help me

[2021-05-21 16:19] cdgco commented on #147
It looks like the AUTH0 configuration never got added to the database installer script.

Use the following SQL command to add the rows to your database, then you can update your settings:
[code]

[2021-06-06 08:21] DEAM0 opened #148 "Multiple Server on login form?"
Hi, I just want to ask if you are planning to create in the future that it would be possible to register on multiple servers, using one form. I would welcome registration and login so that users can choose which server they want to register and log in to. I would also welcome the postgresql database.

[2021-06-06 08:22] DEAM0 commented on #147
Thanks :)

[2021-07-31 02:17] Stage4000 opened #150 "Ive tried installing this thing 10 times today and keep getting 500 errors"
Ive successfully installed this on a different machine, not sure why im getting so many issues with this install on a different machine but its been an all day affair at this point. This is my log from the latest attempt at installing today.

[Fri Jul 30 21:12:33.513343 2021] [php:warn] [pid 9122] [client ---------:51476] PHP Warning:  Undefined variable $connection in /home/admin/web/panel.stage4

[2021-07-31 02:30] cdgco commented on #150
What version of PHP are you using and are you using PHP or PHP-FPM? The first thing I would try is to change the line `$configstyle = '1';` to `$configstyle = '2';` in `includes/includes.php` (line 36) to see if that makes a difference. I don't think I made any bug fixes that relate to this issue, but you could try using the devinstall command to get the latest version with unreleased bug fixes: `

[2021-07-31 02:33] Stage4000 commented on #150
Its a fresh vesta install, I did try configstyle change on one install and it didnt seem to help anything guess ill try devinstall now

[2021-07-31 02:35] cdgco commented on #150
Are you using PHP 5, 7 or 8 / can you run the debug command `bash <(curl -s https://cdgco.github.io/debug)`?

[2021-07-31 02:40] Stage4000 commented on #150
max_execution_time   30
max_input_time       60
memory_limit         128M
error_reporting      E_ALL         &  ~E_DEPRECATED  &  ~E_STRICT
display_errors       Off
post_max_size        8M
upload_max_filesize  2M
config_path          /etc/php.ini
CentOS Linux release 7.9.2009 (Core)
WEB Server:     httpd:8080 (apache)
SSL Support:    mod_ssl:8443
Proxy Server:   nginx:80
Proxy SSL:      nginx:443

[2021-07-31 02:42] Stage4000 commented on #150
and still 500s on devfull

[2021-07-31 02:44] cdgco commented on #150
Alright, that's what I was worrying about. This error is related to PHP 8 which is not currently supported. I don't plan on adding new features to this project as I am shifting toward HestiaCP and don't have much time to work on things right now, so I will likely not be updating to PHP 8. If you want to get it working I would recommend rolling back to PHP 7 or installing MultiPHP for VestaCP (http

[2021-07-31 02:45] Stage4000 commented on #150
Thats odd that 2 different vesta installs gave me 2 different PHP versions only 1 day apart.

[2021-07-31 02:48] Stage4000 commented on #150
I might just go with Hestia, the only reason ive stayed with Vesta so long is because theres just better documentation available for it than hestia.

[2021-07-31 02:48] cdgco commented on #150
It must just be the latest version. Vesta hasn't released an update since January of last year. I wouldn't recommend using it anymore due to security holes and lack of updates which is why I am switching to HestiaCP which includes MutiPHP by default.

[2021-07-31 02:49] cdgco commented on #150
Vesta does have much better documentation, but from what I've found, almost everything works the exact same in Hestia including API calls.

[2021-07-31 02:50] Stage4000 commented on #150
I also like the idea of working with ubuntu again, im much more familiar with it than centos, and if you have tried using vesta on ubuntu lately its not great.

[2021-07-31 02:52] cdgco commented on #150
I haven't done a VestaCP install in a while but I typically use Debian as I run into issues with existing applications when trying to install VestaCP on Ubuntu.

[2021-07-31 03:01] Stage4000 commented on #150
I hope hestia is a little more friendly to ubuntu?

[2021-07-31 03:09] cdgco commented on #150
I can't remember if I ran into any issues with the install, but I believe it was more friendy. I currently have 2 Ubuntu servers running HestiaCP.

[2021-07-31 05:03] Stage4000 commented on #150
Thanks, you can close this at your convenience. Any further tickets can be opened in the other repo.

[2021-07-31 05:05] #150 closed

[2021-11-10 17:00] TomAlderson opened #152 "Can't seem to login?"
I've installed everything the standard way and followed the steps through, I can login to my standard VestaCP but using the VestaWebInterface I'm told wrong password, then when I attempt a password reset, I enter the code then get asked to enter my password, I do but it just refreshes and my password never changes?

Anyone else had this experience?

[2021-11-10 18:02] cdgco commented on #152
If you installed using the password or api key, I would recommend reinstalling using the other to see if that changes anything. Also, check your PHP logs to see if there are any errors connecting to the VestaCP api.

[2021-11-11 09:05] TomAlderson commented on #152
@cdgco Thanks for offering your help but I'm still in a bind.

The only error I am getting back is Error 3 - looks like it thinks the user does not exist in VestaCP even though the user definitely does. My VestaCP has recently upgraded to the latest version so not sure if it's anything to do with that.

I did try an API key too as an alternative but got the same result - very strange behaviour. I'

[2021-11-12 13:06] TomAlderson commented on #152
Managed to fix this in the end - it was related to the SSL issue but after that was fixed I reinstalled and it just worked (with a different suffix for the database tables). Thanks.

[2021-11-12 13:06] #152 closed